/1000_F_231672491_WiZa8Uz44QzYxcAk9redk116mQLUGtmc.jpg
/Github-repository
/HTML-CSS
/Html-form.html
/image.jpg
/practice.css
/practice.html
/practice2.html
/sample_paragraph.txt
/Screenshot_20230505_122325.png
/time-table.html
/torch.png